
/**************************
 __  __       _     _ _      
|  \/  |     | |   (_) |     
| \  / | ___ | |__  _| | ___ 
| |\/| |/ _ \| '_ \| | |/ _ \
| |  | | (_) | |_) | | |  __/
|_|  |_|\___/|_.__/|_|_|\___|
                                                       
***************************/
.container{
    width: 340px;
    margin: 0 auto;
}



/**************************
 _______    _     _      _   
|__   __|  | |   | |    | |  
   | | __ _| |__ | | ___| |_ 
   | |/ _` | '_ \| |/ _ \ __|
   | | (_| | |_) | |  __/ |_ 
   |_|\__,_|_.__/|_|\___|\__|

***************************/
@media (min-width: 576px) and (max-width: 767px){
    .container {
        width: 540px;
    }
    .layout_7-img {
        background-position: 86.21% 50%;
    }
    .layout_8-container {
        padding: 0px 28px;
    }
}


/**************************
 _                 _              
| |               | |             
| |     __ _ _ __ | |_ ___  _ __  
| |    / _` | '_ \| __/ _ \| '_ \ 
| |___| (_| | |_) | || (_) | |_) |
|______\__,_| .__/ \__\___/| .__/ 
            | |            | |    
            |_|            |_|    

***************************/
@media (min-width: 768px) and (max-width: 991px){
    .container {
        width: 720px;
    }

    .layout_1-container-all {
        display: flex;
    }
    

    .layout_7-container {
        display: flex;
    }

    .layout_7-img {
        background-position: 26.94% 50%;
    }
    .layout_7-container > * {
        min-width: unset;
    }
    .layout_8-container {
        display: flex;
        float: right;
        padding: 0px 38px;
    }

    .layout_9-container {
        padding: 0px 30px;
    }
}




/**************************
 _____            _    _              
|  __ \          | |  | |             
| |  | | ___  ___| | _| |_ ___  _ __  
| |  | |/ _ \/ __| |/ / __/ _ \| '_ \ 
| |__| |  __/\__ \   <| || (_) | |_) |
|_____/ \___||___/_|\_\\__\___/| .__/ 
                               | |    
                               |_| 

***************************/

@media (min-width: 992px){
    .container {
        width: 940px;
    }
    .layout_8-container{
        padding: 0 30px;
        padding-left: 112px;
        padding-right: 88px;
        
    }

    .layout_7-img {
        background-position: 50% 50%;
    }
    .layout_7-container{
        display: flex;
    }
    .layout_7-container > * {
        min-width: unset;
    }
    .layout_8-container {
        padding: 0px 49px;
        display: flex;
        float: right;
    }
    .layout_8-button {
        padding: 0px 49px;
        display: flex;
        float: right;
        box-sizing: content-box;
    }
    .layout_9-container {
        padding: 0px 88px 0px 112px;
    }

}